body {
    font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 27px;
    color: #4d4d4d;
    font-weight: 300;
    background-color: #f5f5f5;
}

.flex {
    display: flex;
    margin: 0%;
    padding: 0%;
}

.title {
    font-size: 100px;
    font-weight: 100;
    text-align: center;
    color: rgba(175, 47, 47, 0.15);
    margin: 5%;
    -webkit-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
}

aside {
    background-color: white;
    width: 292px;
    height: 450px;
    padding: 10px;
    border-radius: 5px;
    transition-property: left;
    transition-duration: 500ms;
}

.aside__title {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.2;
    color: #000;
    margin: 0%;
    margin-top: 10px;
}

.aside__subtitle {
    margin-bottom: 0;
    font-size: 14px;
    white-space: pre-line;
}

.link {
    font-weight: normal;
    text-decoration: none;
    color: #b83f45;
}

.aside__hr {
    margin: 20px 0;
    border: 0;
    border-top-color: currentcolor;
    border-top-style: none;
    border-top-width: 0px;
    border-bottom-color: currentcolor;
    border-bottom-style: none;
    border-bottom-width: 0px;
    border-top: 1px dashed #c5c5c5;
    border-bottom: 1px dashed #f7f7f7;
}

.quote {
    border: none;
    margin: 20px 0 20px 0;
}

.speech-bubble {
    position: relative;
    padding: 10px;
    background: rgba(0, 0, 0, .04);
    border-radius: 5px;
}

.speech-bubble::after {
    content: '';
    position: absolute;
    top: 100%;
    right: 30px;
    border: 13px solid transparent;
    border-top-color: transparent;
    border-top-color: rgba(0, 0, 0, .04);
}

.quote__p {
    font-size: 15px;
    color: #4d4d4d;
    font-weight: 300;
    line-height: 1.3;
    margin-top: 0;
    margin-bottom: 0;
}

.italic {
    font-style: italic;
}

.quote__p::after {
    content: '”';
    font-size: 50px;
    opacity: .15;
    position: absolute;
    bottom: -42px;
    right: 3px;
}

.quote__p::before {
    content: '“';
    font-size: 50px;
    opacity: .15;
    position: absolute;
    bottom: 110px;
    right: 270px;
}

.aside_p {
    margin: 0%;
    padding: 0%;
    line-height: normal;
}

section {
    margin: 30px auto;
}

.todoapp {
    background: #fff;
    margin: 50px 0 40px 0;
    position: relative;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
    width: 550px;
}

.todoapp__select-all {
    text-align: center;
    cursor: pointer;
    width: 40px;
    height: 46px;
    margin: 0%;
    border: none;

    appearance: none;
    outline: none;

    transition-property: font-size,font-weight,color;
    transition-duration: 600ms;
    transition-delay: 0s;
    transition-timing-function: linear;
}

.todoapp__select-all::after {
    margin: 0%;
    padding: 0%;
    text-align: center;
    font-size: 20px;
    line-height: 2;
    content: "v";
}

.todoapp__select-all:hover {
    font-size: 35px;
    font-weight: 700;
    color:#EFA501;
}

.todoapp__new-todo {
    font-style: italic;
    font-weight: 300;
    font-size: 24px;
    line-height: 1.4em;
    cursor: pointer;
    color: black;
    margin: 0;
    width: 550px;
    border: 0;
    padding: 6px;
    opacity: 0.5;

    transition-property: opacity;
    transition-duration: 600ms;
    transition-delay: 0s;
    transition-timing-function: linear;
}

.todoapp__new-todo:focus {
    opacity: 1;
    outline: none;
    color: #1B1F2B;
    background: linear-gradient(to right, white, #F8E6BE, #EFA501);
}

.todoapp__frame {
    border: 1px solid #999;
    box-sizing: border-box;
}


.list {
    list-style-type: none;
    margin: 0%;
    padding: 0%;
}

.list__destroy {
    margin: auto;
    visibility: hidden;
    width: 45px;
    height: 40px;
    padding: 0%;
}

.list__li:hover .list__destroy {
    visibility: visible;
    color: rgb(43, 43, 43);
    background-color: white;
    border-color: transparent;
    cursor: pointer;
}

.list__destroy::after {
    margin: 0%;
    padding: 0%;
    text-align: center;
    font-size: 30px;
    content: "×";
}

.info {
    margin: 65px auto 0;
    color: #bfbfbf;
    font-size: 10px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    text-align: center;
}

.list__label {
    width: 100%;
    padding: 15px;
    padding-left: 0px;
    word-break: break-all;
}

.list__label_mod {
    color: #d9d9d9;
    text-decoration: line-through;

}

.transition-color {
    transition-property: color;
    transition-duration: 300ms;
    transition-delay: 0s;
    transition-timing-function: linear;
}

.transition-position {
    transition-property: background-position;
    transition-duration: 400ms;
    transition-delay: 0s;
    transition-timing-function: cubic-bezier(.22, .61, .36, 1);
}

.strong {
    margin: 5px;
    padding: 0%;
}

.todoapp__btn {
    cursor: pointer;
    margin: 3px;
    padding: 3px 7px;
    color: #777;
    background-color: white;
    border: 0px;
    border: 1px solid transparent;
}

.todoapp__btn_clear-completed:hover {
    text-decoration: underline;
}

.transition-back-border {
    transition-property: border, background-color;
    transition-duration: 400ms;
    transition-delay: 0s;
    transition-timing-function: linear;
}

.todoapp__btn_mod {
    color: #FFFFFFD6;
    background-color: #EFA501;
    border: 1px solid rgba(175, 47, 47, 0.2);
}

.todoapp__btn_hover:hover {
    background-color: #F8E6BE;
    border: 1px solid #EFA501;
}

.list__li {
    display: block;
    cursor: pointer;
    font-size: 25px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-bottom: 1px solid #ededed;
}

.list__li_checkbox {
    position: relative;
    opacity: 0;
    cursor: pointer;
    margin: 0%;
    margin-top: 0%;
    margin-bottom: 0%;
    margin-top: auto;
    margin-bottom: auto;
    padding: 0%;
    left: 10px;
    width: 35px;
    height: 30px;
    z-index: 1;
}

.list__li_btn {
    margin-top: auto;
    margin-bottom: auto;
    position: relative;
    left: -20px;
}

.list__li_btn::before {
    content: '';
    display: inline-block;
    width: 28px;
    height: 28px;
    border: 2px solid #4d4d4d;
    border-radius: 100%;
    margin: auto auto;

}

.list__span_mod {
    background-size: 45%;
    background-repeat: no-repeat;
    background-position: 50%;
    margin-bottom: auto;
    background-image: url("../img/badges/Rectangl-36-Stroke.svg");

}

.todoapp__footer {
    justify-content: space-between;
}

.edit {
    display: flex;
    margin: auto;
    margin-left: 30px;
    font-weight: 300;
    color: #e6e6e6;
    width: 90%;
    height: 22px;
    font-size: 25px;
    border: 1px;
    color: inherit;
    cursor: pointer;
    color: #4d4d4d;
    padding: 20px 7px 20px 15px;

}

.edit:focus {
    outline: none;
    border: 2px solid bisque;
}
